.comics {
    font-size: large;
    justify-content: space-evenly;
}

.small img.picture {
    width: 130px;
    height: 91px;
}
.small div.picture {
    border: none;
}
.small div.panel {
    padding: 0px 0;
    margin: 3px 0;
}
div.picture {
    margin: 15px 0;
}
.small .caption  {
    display: block;
    border: solid 1px grey;
    background-color: white;
    width: 126px;
    text-align: left;
    padding: 2px;
    align-content: center;
    font-size: medium;
    word-wrap: break-word;
}
.comichead {
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 3px;
}
.rating {
    background-color:white;
    border: solid 1px;
}
a.comic {
    text-decoration: none;
    color: black;
}
a.comic:hover {
    color: black;
}

.comic {
    text-decoration: none;
    background-color: white;
    border: solid 1px grey;
    background-color: #DDD;
    padding: 0 8px;
}
.artist {
    font-weight: bold;
    text-align: center;
}
a.artist {
    text-decoration: none;
    color: black;
}
img.picture {
    vertical-align:middle;
}
span.caption {
    font-style: italic;
    text-align: center;
    width :500px;
    font-size: x-large;
    background-color: white;
}
div.picture {
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.kudo:visited,
.kudo:hover,
.kudo {
    color: red;
    text-decoration: none;
    margin: 0 4px;
}
