.colors {

}
.color-control {
    width: 50px;
}
.color {
    width:20px;
    height:20px;
    margin:auto auto;
    border:solid 1px black;
    cursor:pointer;
}
.color:hover {
    border:solid 2px black;
}
.chosen.color {
    border: double 6px white
}
.chosen.yellow.color,
.chosen.white.color {
    border-color: black;
}
.brush {
    border: solid 1px black;
    margin: 2px auto;
}
.brush-container {
    margin: 4px 0;
    padding: 5px 0;
    justify-content: space-around;
}
.brush-container.chosen .brush,
.brush-container.chosen {
    background: #BBB;
    border-width: 2px;
}

.brush-container:hover,
.brush-container:hover .brush {
    border:solid 2px black;
}

.show-palette .on-palette,
body .no-palette {
    display: flex;
}

.show-palette .no-palette,
body .on-palette {
    display: none;
}
