.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.wrap {
    flex-flow: wrap;
}
.grow {
    flex-grow: 1;
}
.shrink {
    flex-shrink: 1;
}
.spread {
    justify-content: space-between;
}
.squish {
    justify-content: space-around;
}
.even {
    justify-content: space-evenly;
}
input {
    margin: 2px 0;
}
button {
    margin: 4px;
}

.hide {
    display: none;
}
.standout {
    margin: 1em 0;
}
.row.standout > * {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    text-align:center;
}
.col.center {
    margin: 0 auto;
}

.ent {
    font-style: normal;
}

.bold {
    font-weight: bold;
}
.italic {
    fond-style: italic;
}

.large {
    font-size: large;
}
.x-large {
    font-size: x-large;
}
.xx-large {
    font-size: xx-large;
}
.small {
    font-size: small;
}
.x-small {
    font-size: x-small;
}
.xx-small {
    font-size: xx-small;
}
.pad {
    padding: 5px;
}
a.button {
    text-decoration:none;
    color: black;
}
a.button:visited {
    color: black;
}
a.button:hover {
    color: black;
}
