.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.row.spread {
    justify-content: space-between;    
}
body {
    background-color: #d1e0e6;
    font-size: large;
}
nav {
    margin: 13px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: x-large;
}
nav > a {
    border: dotted 4px;
    padding: 8px 12px;
    margin: 3px;
    text-decoration: none;
}
nav > a#visited {
    color: black;
}
nav > a.admin {
    border: dotted 4px orange;
    background: lightyellow;
    padding: 8px 12px;
    margin: 3px;
    text-decoration: none;
}
header {
    background-color: white;
    font-size: 32px;
    text-align: center;
    border: groove 8px plum;
}
header aside {
    background-color: #FAFFFA;
    padding: 0 5px;
    border-left: groove 8px plum;
}
aside > p {
    margin: 0;
}
header aside img {
    border: solid 1px black;
}
.splash {
    align-items: center;
    background: url(/spuc/images/spuc.png) no-repeat;
    background-position-x: center;
    background-position-y: center;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}
.error.err-txt {
    background-color: #FEE;
    border: red solid 3px;
    padding: 3px 5px;
}
.err-txt.bigerr {
    font-size: x-large;
    padding: 10px 15px;
}
input.error {
    border: red solid 1px;
    background-color: pink;
}
.message {
    font-size: x-large;
    border: solid #47A 4px;
    border-radius: 18px;
    background-color: #F0E7FF;
    margin: 0px auto;
    padding: 0 7px;
    text-align: center;
}
.box {
    border: solid 4px gray;
    padding: 3px;
}
#loginblock {
    padding-top: 1em;
}
#loginblock > * {
    margin: 3px 0;
}
#reglink {
    margin-top: 1em;
}
main {
    justify-content: space-evenly;
}
.callout {
    font-weight: bold;
    font-style: italic;
}


.subbut.enabled {
    background-color: #AF4;
    font-size: larger;
    color: black;
    border: 6px double green;
    cursor: pointer;
}

.avatar img {
    background: white;
    margin: auto;
}
a.avatar,
a.avatar#visited {
    color: black;
    text-decoration: none;
}
img {
    background-color: white;
    border: solid 1px grey;
}
div {
    margin: 2px;
    padding: 2px;
}
