body {
    background: #DEF;
}
header {
    background: mintcream;
    padding-bottom: 4px;
    margin-bottom: 1em;
    border: 8px groove plum;
}

footer {
    border: groove 4px purple;
}
.splash {
    border-right: 8px groove plum;
    background-color: blue;
    min-width: 300px;
    min-height: 150px;
    align-items: center;
    background: url(/spuc/images/spuc.png) no-repeat;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}
#loading {
    display: none;
}
#loading.loading {
    display: block;
}
.navbar {
    padding:9px;
}
.navbut {
    margin:0 6px;
    padding: 8px;
    border: dotted 4px green;
    cursor: pointer;
}
.navbut a {
    text-decoration: none;
}
.main {
    padding: 0 1em;
}
.frame {
    background: lightskyblue;
    margin: 0 auto;
}
.panel {
    border: solid black 1px;
    max-width: 150px;
    background-color: white;
}
.detail.panel {
    max-width: 600px;
}
.caption {
    padding: 5px 0;
    text-align: center;
}
.ask-caption {
    background:mintcream;
    font-size:xx-large;
    margin:10px;
    padding:13px;
    border: black double 12px;
    text-align:center;
    border-radius:15px;
}
.request {
    text-align:center;
    font-size:x-large;
    font-weight:bold;
    font-style:italic;
    background:skyblue;
    border: groove 3px blue;
    padding:1em 2em;
}
.picture {
    max-width: 150px;
    background-color: white;
}
.detail.picture {
    max-width: 600px;
}
.captioning.picture {
    max-width: 900px;
}
.big-avatar {
    max-width: 150px;
    max-height: 150px;
    background-color: white;
}
.avatar {
    max-width: 40px;
    max-height: 40px;
    background-color: white;
}
.tiny-avatar {
    max-width: 20px;
    max-height: 20px;
    background-color: white;
}
.strip {
    background-color: lightgray;
    padding: 1em;
}

button.valid,
input:valid {
    border: green 3px solid;
}
input.err:valid,
input.err {
    border: red 3px solid;
}


.chat-entry {
    padding: 1px;
    max-width: 15em;
}
.msg {
    font-size: large;
    background: #fdf7fe;
    border:grey 1px solid;
    padding:1em;
    margin:5px;
}
